* {
    @media screen and(max-width: 767px){
        
    }
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    @media screen and(max-width: 767px){
        
    }
    background: linear-gradient(to bottom, beige, whitesmoke);
}

p {
    @media screen and(max-width: 767px){
        
    }
    margin-top: 40px;
    font-size: 20px;
    padding: 2px;
    font-family: "Cormorant Garamond", serif;
}

header {
    @media screen and(max-width: 767px){
        
    }
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 20px;
    top: 0;
    width: 100%;
    background-color: beige;
}
#menu {
    @media screen and(max-width: 767px){
        
    }
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

#menu a {
    @media screen and(max-width: 767px){
        
    }
    text-decoration: solid;
    color: black;
    padding: 20px;
}

#menu a:hover {
    @media screen and(max-width: 767px){
        
    }
    border-bottom: 1px solid red;
    color: red;
}
.container img{
    @media screen and(max-width: 767px){
        
    }
    height: 300px;
    width: 767px;
}
.promocion{
    @media screen and(max-width: 767px){
        
    }
    padding-top: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.h3-prom{
    @media screen and(max-width: 767px){
        
    }
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-top: 1rem;
    text-align: center;
    color: black;
    font-size: 0.9rem;
}

.promocion img{
    @media screen and(max-width: 767px){
        
    }
    width: 225px;
    height: 280px;
}

.promocion-texto1 {
    @media screen and(max-width: 767px){
        
    }
    width: 20rem;
    height: 17.5rem;
    background-color: pink;
  
}
.promocion-texto2 {
    @media screen and(max-width: 767px){
        
    }
    width: 20rem;
    height: 17.5rem;
    background-color: pink;
  
}
.promocion-texto3 {
    @media screen and(max-width: 767px){
        
    }
    width: 20rem;
    height: 20rem;
    background-color: pink;
  
}
.promocion-texto4 {
    @media screen and(max-width: 767px){
        
    }
    width: 20rem;
    height: 17.5rem;
    background-color: pink;
  
}
